section#serach-product-section {
  background: #fff;
  div.container {
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    padding: 0 15px;
    div.resulted-text {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;
      hr {
        &:first-child {
          margin-top: 20px;
        }
      }
      p {
        color: gray;
        padding: 20px 0px;
        a {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    div.product-wrapper {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
      justify-content: space-between;
      background: #fff;
      padding: 20px 0;
      div.img-wrapper {
        max-width: 200px;
        width: 100%;
        min-height: 80px;
        img {
          width: 100%;
          height: 35vh;
          object-fit: contain;
          margin: 0 auto;
        }
      }
      p.item-text {
        text-align: center;
        color: #000;
        font-weight: bold;
        font-family: sans-serif;
        padding-top: 10px;
        max-width: 200px;
      }
    }
  }
}

section#search-result {
  background: #000;
  position: relative;
  min-height: 567px;
  div.container {
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    padding: 0 15px;
    div.text-wrapper {
      max-width: 800px;
      width: 100%;
      padding-top: 150px;
      margin-left: 150px;
      color: #ffffff;
      font-family: sans-serif;
      h1 {
        margin-bottom: 65px;
        font-size: 60px;
      }
      p {
        line-height: 1.6;
      }
    }
  }
}

section#product-section {
  background: #000;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  div.container {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    div.product-wrapper {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
      justify-content: space-between;
      background: #fff;
      position: relative;
      top: -54px;
      div.img-wrapper {
        width: 100%;
        min-height: 150px;
      }
    }
    div.product-slider {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 23px;
      h2 {
        color: #fff;
        margin-bottom: 35px;
      }
      div.product-card {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 37px;

        div.card-wrapper {
          background: #fff;
          color: #000;
          font-size: 16px;
          font-family: sans-serif;
          padding: 25px;
          text-align: center;
          width: calc(100% / 4 - 2%);
          margin-top: 25px;

          div.img-wrapper {
            max-width: 500px;
            width: 100%;
            min-height: 120px;
          }
          button.add-cartbtn {
            background: #000;
            color: #fff;
            max-width: 200px;
            padding: 20px;
            outline: 0;
            font-weight: bold;
            font-family: sans-serif;
            border-radius: 20px;
            margin-top: 20px;
            cursor: pointer;
          }
        }
        p.item-text {
          padding-bottom: 10px;
        }
      }
    }
  }
}

div#lds-ring-wrapper {
  height: 92.2vh;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  padding-top: 50px;

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
